html {
  box-sizing: border-box;
  font-family:"Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%
}

main {

  display: grid;
  grid-template-coloumns: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "main1 main2 main3";
}

.helen {
  grid-area: header;
}

.artemis {
  grid-area: main1;
}

.rhodes {
  grid-area: main2;
}

.babylon {
  grid-area: main3;
}
