html {
  box-sizing: border-box;
  font-family:"Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;

  /* mobile size */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "aside1 aside2 aside3";
}

header {
  grid-area: header;
  background-color: lightblue;
  padding: 1rem;
}

header h1 {
  font-weight: lighter;
}

header img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: header;
  align-self: center;
}

main {
  background-color: pink;
  padding: 1rem;
}

.artemis {
  grid-area: main1;
  padding: 1rem;
}

.rhodes {
  grid-area: main2;
  padding: 1rem;
}

.babylon {
  grid-area: main3;
  padding: 1rem;
}
